<h1>{{ experience.title }}</h1>
<p>Entreprise : {{ experience.company }}</p>
<p>Période : {{ experience.startDate|date('d/m/Y') }} - {{ experience.endDate|date('d/m/Y') }}</p>
<p>Description : {{ experience.description }}</p>
